#explorer-explorers-content {
  width: 100%;
  #explorer-explorers-wrapper {
    min-height: 362px;
    padding: 40px 0;
    border-top: 1px solid #ffbf00;

    .list-wrapper {
      width: 100%;
    }
  }
}
