#history-page {
  width: 100%;

  #history-visual-container {
    display: flex;
    width: 200%;
    transition: all 0.3s ease;
    #videoWrap {
      width: 50%;
      height: 854px;
      position: relative;
      overflow: hidden;

      #history-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;

        .hr {
          width: 100px;
          height: 9px;
          padding-left: 7px;
          margin: 0 auto;
          position: relative;
          overflow: hidden;

          .hrLine {
            width: 200px;
            height: 1px;
            background-color: #eee;
            margin-top: 3px;

            .innerCircle {
              width: 7px;
              height: 7px;
              border: 1px solid #eee;
              border-radius: 20px;
              position: absolute;
              left: 0;
              top: 0;
            }
          }

          span {
            display: block;
          }
        }

        .subtitle {
          font-family: 'hind700';
          font-size: 1.6rem;
          color: #eee;
        }
        .title {
          display: block;
          font-weight: normal;
          font-size: 100px;
          font-family: 'Aldrich';
          color: #eee;
          text-transform: uppercase;
          padding-top: 22px;
          padding-bottom: 10px;
        }
        .desc {
          font-family: 'hind100';
          color: #ccc;
          padding-bottom: 70px;

          .orange {
            font-size: 1.6rem;
          }
        }
      }
    }

    @media all and (min-width: 481px) and (max-width: 767px) {
      #videoWrap {
        #history-title {
          .title {
            font-size: 70px;
          }
        }
      }
    }
    @media all and (min-width: 0) and (max-width: 480px) {
      #videoWrap {
        #history-title {
          .title {
            font-size: 50px;
          }
        }
      }
    }
  }
}
