#section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51rem;
  padding: 0 5%;
  font-family: 'Aldrich';
  font-size: 5rem;
  color: #eee;
  text-align: center;
  background-image: url('/img/building.jpg');
  background-attachment: fixed;
  overflow: hidden;
}
