#about-us-readers-wrapper {
  padding: 40px 0;
  border-top: 1px solid #ffbf00;
  #title {
    width: 100%;
    text-align: center;
    .subtitle {
      font-family: 'hind700';
      margin: 0 auto;
      font-size: 1.6rem;
    }

    .hr {
      width: 200px;
      height: 9px;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      .hrLine {
        display: block;
        width: 200px;
        height: 1px;
        background-color: #333;
        margin-top: 3px;
        .innerCircle {
          display: block;
          width: 0.7rem;
          height: 0.7rem;
          border: 1px solid #555;
          border-radius: 20px;
          position: absolute;
          left: 100px;
          top: 0;
          background-color: #fff;
        }
      }
    }

    .title {
      display: block;
      font-weight: normal;
      font-size: 40px;
      font-family: 'Aldrich';
      text-transform: uppercase;
      padding-top: 22px;
      padding-bottom: 30px;
      margin: 0 auto;
    }
  }

  #leaders-list {
    max-width: 1244px;
    padding: 12px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28.6rem, 0.25fr));
    grid-gap: 1.6rem;
    li {
      .leaderBox {
        .imgArea {
          .image-content {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // @mixin media_grid($max) {
  //   .leaders-list {
  //     grid-template-columns: repeat(auto-fit, minmax(14.9rem, $max)) !important;
  //   }
  // }

  // @media screen and (min-width: 783px) and (max-width: 947px) {
  //   @include media_grid(0.33fr);
  // }

  // @media screen and (min-width: 618px) and (max-width: 782px) {
  //   @include media_grid(0.5fr);
  // }

  // @media screen and (max-width: 617px) {
  //   @include media_grid(1fr);
  // }
}
