#ns-section2 {
  width: 100%;
  #ns-section2In {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 1%;
    #container {
      width: 75%;
      float: left;
      border-right: 1px solid #eee;
      padding-top: 100px;
      box-sizing: border-box;
      .news {
        width: 100%;
        margin-bottom: 70px;
        overflow: hidden;
        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
  }
}
