#about-us-page {
  width: 100%;
  position: relative;

  #section1 {
    position: relative;
    width: 100%;
    height: 85.3rem;
    padding: 3rem 0;
    background: #f1f1f1 url("/img/aboutusMainbg.png") no-repeat center;

    #section1In {
      display: flex;
      justify-content: space-between;
      padding: 0 8%;

      .yellowBarField {
        width: 84%;
        position: absolute;
        z-index: 2;
        top: 307px;
        overflow: hidden;

        .yellowBar {
          width: 100%;
          height: 1px;
          background-color: gold;
        }
      }

      .left {
        width: 35%;
        padding-top: 13rem;

        .subtitle {
          padding-left: 10px;
          font-family: "hind700";
          font-size: 1.6rem;
        }

        .hr {
          width: 200px;
          height: 9px;
          position: relative;
          overflow: hidden;

          span {
            display: block;
          }

          .hrLine {
            width: 200px;
            height: 1px;
            background-color: #333;
            margin-top: 3px;

            .innerCircle {
              width: 0.7rem;
              height: 0.7rem;
              border: 1px solid #555;
              border-radius: 20px;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #eee;
            }
          }
        }

        .title {
          display: block;
          font-weight: normal;
          font-size: 60px;
          font-family: "Aldrich";
          text-transform: uppercase;
          padding-top: 22px;
          padding-bottom: 30px;
        }

        .desc {
          font-size: 14px;
          color: #555;
          line-height: 22px;
          padding-bottom: 90px;
        }
      }

      .upDownImg {
        margin-top: 150px;
        width: 28%;
        text-align: center;
        margin-left: 20px;
        animation: upDown 3s infinite alternate;
        position: relative;
        z-index: 3;

        img {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .right {
        width: 33%;
        padding-top: 31rem;

        .numbering {
          width: 50%;
          float: left;
          font-family: "Aldrich";
          .number {
            font-size: 5rem;
          }
        }

        .desc {
          font-size: 1.4rem;
          color: #555;
          line-height: 2.2rem;
          padding-top: 4rem;
          clear: both;
        }

        .gray {
          font-size: 3.4rem;
          color: #ccc;
        }
      }
    }
  }

  #section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51rem;
    padding: 0 5%;
    font-family: "Aldrich";
    font-size: 5rem;
    color: #eee;
    text-align: center;
    background-image: url("/img/building.jpg");
    background-attachment: fixed;
    overflow: hidden;
  }

  #section3 {
    width: 100%;
    padding: 10rem 0;
    overflow: hidden;
    position: relative;
    background-color: #f1f1f1;

    #section3In {
      width: 100%;
      padding: 0 8%;

      #historyVideo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .yellowBar {
          width: 889px;
          height: 1px;
          background-color: #ffbf00;
        }

        #videoFrame {
          width: 50%;
          #video {
            width: 100%;

            video {
              width: 100%;
            }
          }
        }

        #textFrame {
          width: 47%;
          margin-left: 3%;
          position: relative;

          .enter-button-wrapper {
            margin-top: 3rem;
            color: #333;
          }

          .hr {
            width: 300px;
            height: 9px;
            position: relative;
            overflow: hidden;

            span {
              display: block;
            }

            .hrLine {
              width: 230px;
              height: 1px;
              background-color: #333;
              margin-top: 3px;

              .innerCircle {
                width: 7px;
                height: 7px;
                border: 1px solid #555;
                border-radius: 20px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #eee;
              }
            }
          }

          .subtitle {
            font-size: 1.6rem;
            padding-left: 10px;
            font-family: "hind700";
          }

          .title {
            display: block;
            font-weight: normal;
            font-size: 60px;
            text-transform: uppercase;
            font-family: "Aldrich";
            padding-top: 22px;
            padding-bottom: 20px;
          }

          .yellowBarField {
            width: 100%;
            margin-bottom: 10px;

            .yellowBar {
              width: 100%;
              height: 1px;
              background-color: gold;
            }
          }

          .desc {
            font-size: 14px;
            color: #555;
            line-height: 22px;
          }
        }
      }
    }
  }
}

@keyframes upDown {
  100% {
    transform: translatey(2rem);
  }
}

@media all and (min-width: 1025px) and (max-width: 1370px) {
  #about-us-page {
    #section1 {
      height: auto;
      background-position: 1rem 45rem;

      #section1In {
        flex-wrap: wrap;

        .yellowBarField {
          top: 22.8rem;
        }

        .left {
          width: 100%;
          padding-top: 6rem;
          .desc {
            padding-bottom: 3rem;
          }
        }

        .right {
          width: 56%;
          padding-left: 5rem;
          padding-top: 10rem;
        }

        .upDownImg {
          margin-top: 1rem;
          width: 35%;
          height: 44.4rem;
        }
      }
    }

    #section3 {
      #section3In {
        #historyVideo {
          display: block;

          #videoFrame {
            width: 80%;
            margin: 0 auto;
          }

          #textFrame {
            width: 80%;
            margin: 0 auto;
            margin-top: 3rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  #about-us-page {
    #section1 {
      height: auto;
      background-position: center 45rem;

      #section1In {
        flex-wrap: wrap;

        .yellowBarField {
          top: 22.8rem;
        }

        .left {
          padding-top: 6rem;
          flex-shrink: 0;
          width: 100%;
          .desc {
            padding-bottom: 3rem;
          }
        }

        .upDownImg {
          width: 43.9rem;
          height: 44.4rem;
          margin: 10px auto 0;
        }

        .right {
          width: 100% !important;
          padding-top: 10rem;
        }
      }
    }

    #section3 {
      #section3In {
        #historyVideo {
          display: block;

          #videoFrame {
            width: 90%;
            margin: 0 auto;
          }

          #textFrame {
            width: 90%;
            margin: 0 auto;
            margin-top: 3rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {
  #about-us-page {
    #section1 {
      background-position: center 65rem;
      background-size: 40rem;

      .left {
        padding-top: 6rem;
      }
    }
  }
}

@media all and (min-width: 0) and (max-width: 480px) {
  #about-us-page {
    #section1 {
      height: auto;
      background-position: center 60rem;
      background-size: 30rem;

      #section1In {
        display: block;
        .yellowBarField {
          top: 20.8rem;
        }

        .left {
          width: 100%;
          padding-top: 6rem;

          .desc {
            padding-bottom: 3rem;
          }

          .title {
            font-size: 4rem;
          }
        }

        .upDownImg {
          width: 20rem;
          height: 20rem;
          margin: 1rem auto 0;
        }

        .right {
          width: 100%;
          padding-top: 10rem;
        }
      }
    }

    #section3 {
      #section3In {
        #historyVideo {
          display: block;

          #videoFrame {
            width: 100%;
            margin: 0 auto;
          }

          #textFrame {
            width: 100%;
            margin: 0 auto;
            margin-top: 3rem;
          }
        }
      }
    }
  }
}
