#header-info {
  display: flex;
  width: 22rem;

  #description {
    width: 17.5rem;
    color: #ffffff;
    background-color: var(--brand);
    border-right: 1px solid #ffdc73;
    font-family: 'Aldrich';

    #finance {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50%;
      padding: 0 1rem;
      font-size: 1.4rem;
      border-bottom: 1px solid #ffdc73;

      &::before {
        content: '';
        display: block;
        margin-right: 0.6rem;
        width: 1.3rem;
        height: 1.3rem;
        background: url(/img/graph.png) no-repeat center;
      }
    }

    #cost {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 50%;
      padding: 0 1rem;
      font-size: 1.5rem;

      &::before {
        content: '';
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        background: url(/img/radialgraph.png) no-repeat center;
      }
    }
  }

  #info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 100%;
    background-color: var(--brand);
    cursor: pointer;

    img {
      transition: transform 0.3s;
    }

    &:hover {
      img {
        transform: rotate(90deg);
      }
    }
  }
}

@media all and (min-width: 1025px) and (max-width: 1370px) {
  #header-info {
    width: 4.5rem;
    #description {
      display: none;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  #header-info {
    display: none;
  }
}
