#scroll-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 32rem;
  position: fixed;
  right: 10%;
  top: 50%;
  transform: translateY(-40%);

  .scroll-button {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% !important;
    cursor: pointer;
    &.scrollbtn01 {
      background-image: url("/img/scrollbtn01.png");
    }
    &.scrollbtn02 {
      background-image: url("/img/scrollbtn02.png");
    }
    &.scrollbtn03 {
      background-image: url("/img/scrollbtn03.png");
    }
    &.scrollbtn04 {
      background-image: url("/img/scrollbtn04.png");
    }
    &.scrollbtn05 {
      background-image: url("/img/scrollbtn05.png");
    }
  }
}

@media all and (min-width: 0) and (max-width: 1024px) {
  #scroll-button-wrapper {
    display: none !important;
  }
}
