#intro-page-wrapper {
  position: relative;
}

#content {
  width: 100%;
  padding-top: 80px;
}

/*########################## section1 ###############################*/
#section1 {
  width: 100%;
  height: 893px;
  position: relative;
  overflow: hidden;

  #bgArea {
    width: 100%;
    height: 893px;
    overflow: hidden;
    position: relative;
  }

  #bgArea {
    li {
      width: 100%;
      height: 893px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      top: 0;
    }

    .m1 {
      background-image: url('/img/images/mainVisual_011.jpg');
    }
    .m2 {
      background-image: url('/img/images/mainVisual_012.jpg');
    }
    .m3 {
      background-image: url('/img/images/mainVisual_013.jpg');
    }
    .m4 {
      background-image: url('/img/images/mainVisual_014.jpg');
    }
  }
}

#section1 .mainContent {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

#section1 #circleArea {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#section1 #circleArea #circlewidth {
  width: 700px;
  padding-bottom: 700px;
  margin: 90px auto 0;
  position: relative;
  z-index: 2;
}

#section1 #circlewidth .circle {
  width: 100%;
  height: 100%;
}

#section1 #circle1 {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #ffbf00;
  border-radius: 400px;
  animation: circle1 5s infinite;
  animation-timing-function: linear;
}

#section1 #circle2 {
  position: absolute;
  left: 5px;
  top: 5px;
  border: 1px solid #ffbf00;
  border-radius: 400px;
  animation: circle2 5s infinite;
  animation-timing-function: linear;
}

#section1 #circle3 {
  position: absolute;
  left: 6px;
  top: -10px;
  border: 1px solid #ffbf00;
  border-radius: 400px;
  animation: circle3 5s infinite alternate;
}

@keyframes circle1 {
  from {
    transform: rotate(0deg) translatex(20px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatex(20px) rotate(-360deg);
  }
}

@keyframes circle2 {
  from {
    transform: rotate(0deg) translatex(20px) rotate(0deg);
  }

  to {
    transform: rotate(-360deg) translatex(20px) rotate(360deg);
  }
}

@keyframes circle3 {
  from {
    transform: rotate(0deg) translatex(20px) rotate(0deg);
  }

  to {
    transform: rotate(180deg) translatex(20px) rotate(-180deg);
  }
}

#section1 .textArea {
  width: 100%;
  height: 100%;
  position: relative;
}

#section1 .textArea ul {
  max-width: 650px;
  text-align: center;
  color: #eee;
  transition: all 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#section1 .textArea .subTitle {
  width: 320px;
  height: 22px;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  background-color: #ffbf00;
  margin: 0 auto;
}

#section1 .textArea .title {
  font-size: 50px;
  font-family: 'Aldrich';
  margin-top: 12px;
}

#section1 .textArea .desc {
  width: 500px;
  font-size: 13px;
  margin: 25px auto 0;
}

#section1 .textArea .bar {
  width: 50px;
  height: 1px;
  background-color: #ccc;
  margin: 0 auto;
}

#section1 .textArea .text {
  margin-top: 14px;
}

#section1 .scroll {
  height: 200px;
  margin-top: 136px;
  font-size: 14px;
  font-family: 'Aldrich';
  color: #ccc;
}

#scrollRotate {
  transform: rotatex(60deg);
}

#downScroll {
  width: 26px;
  height: 26px;
  border-right: 3px solid #ffbf00;
  border-bottom: 3px solid #ffbf00;
  transform: rotate(45deg);
  animation: scroll 2s infinite;
  margin: 0 auto;
}

/*########################## section2 ###############################*/
#section2 {
  width: 100%;
  height: 893px;
  position: relative;
}

#section2 .bgArea {
  width: 100%;
  height: 100%;
  background-image: url('/img/images/mainVisual_02.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#section2 .mainContent {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#section2 .textArea {
  width: 100%;
  height: 100%;
  position: relative;
}

#section2 .textArea ul {
  width: 350px;
  text-align: left;
  color: #eee;
  opacity: 0;
  transition: all 1s;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#section2 .textArea .subTitle {
  width: 250px;
  height: 22px;
  font-size: 15px;
  line-height: 22px;
  text-indent: 20px;
  color: #fff;
  background-color: #ffbf00;
}

#section2 .textArea .title {
  font-size: 50px;
  font-family: 'Aldrich';
  margin-top: 12px;
}

#section2 .textArea .desc {
  font-size: 13px;
  margin-top: 25px;
}

#section2 .textArea .bar {
  width: 50px;
  height: 1px;
  background-color: #eee;
}

#section2 .textArea .text {
  margin-top: 14px;
}

/*########################## section3 ###############################*/
#section3 {
  width: 100%;
  height: 893px;
  position: relative;
}

#section3 .bgArea {
  width: 100%;
  height: 100%;
  background-color: #000;
}

#section3 .mainContent {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#section3 .textArea {
  width: 100%;
  height: 100%;
  position: relative;
}

#section3 .textArea ul {
  width: 350px;
  text-align: left;
  color: #eee;
  opacity: 0;
  transition: all 1s;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#section3 .textArea ul .subTitle {
  width: 180px;
  height: 22px;
  font-size: 15px;
  line-height: 22px;
  text-indent: 20px;
  color: #fff;
  background-color: #ffbf00;
}

#section3 .textArea .title {
  font-size: 50px;
  font-family: 'Aldrich';
  margin-top: 12px;
}

#section3 .textArea .desc {
  font-size: 13px;
  margin-top: 25px;
}

#section3 .textArea .bar {
  width: 50px;
  height: 1px;
  background-color: #eee;
}

#section3 .textArea .text {
  margin-top: 14px;
}

#section3 #earthVideo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 100px;
}

/*########################## section4 ###############################*/

#section4 {
  width: 100%;
  height: 893px;
  position: relative;
}

#section4 .bgArea {
  width: 100%;
  height: 100%;
  background-image: url('/img/images/mainVisual_04.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#section4 .mainContent {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#section4 .textArea {
  width: 100%;
  height: 100%;
  position: relative;
}

#section4 .textArea ul {
  width: 350px;
  text-align: left;
  color: #eee;
  opacity: 0;
  transition: all 1s;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#section4 .textArea .subTitle {
  width: 260px;
  height: 22px;
  font-size: 15px;
  line-height: 22px;
  text-indent: 20px;
  color: #fff;
  background-color: #ffbf00;
}

#section4 .textArea .title {
  font-size: 50px;
  font-family: 'Aldrich';
  margin-top: 12px;
}

#section4 .textArea .desc {
  font-size: 13px;
  margin-top: 25px;
}

#section4 .textArea .bar {
  width: 50px;
  height: 1px;
  background-color: #eee;
}

#section4 .textArea .text {
  margin-top: 14px;
}

/*########################## section5 ###############################*/

#section5 {
  width: 100%;
  height: 893px;
  position: relative;
}

#section5 .bgArea {
  width: 100%;
  height: 100%;
  background-image: url('/img/images/mainVisual_05.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#section5 .mainContent {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#section5 .textArea {
  width: 100%;
  height: 100%;
  position: relative;
}

#section5 .textArea ul {
  width: 350px;
  text-align: left;
  color: #eee;
  opacity: 0;
  transition: all 1s;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#section5 .textArea .subTitle {
  width: 160px;
  height: 22px;
  font-size: 15px;
  line-height: 22px;
  text-indent: 20px;
  color: #fff;
  background-color: #ffbf00;
}

#section5 .textArea .title {
  font-size: 50px;
  font-family: 'Aldrich';
  margin-top: 12px;
}

#section5 .textArea .desc {
  font-size: 13px;
  margin-top: 25px;
}

#section5 .textArea .bar {
  width: 50px;
  height: 1px;
  background-color: #eee;
}

#section5 .textArea .text {
  margin-top: 14px;
}

/*####################### BTN ################################*/
.enterBtn {
  width: 160px;
  height: 24px;
  letter-spacing: 5px;
  font-family: 'hind700';
  margin-top: 60px;
  position: relative;
  overflow: hidden;
}

.enterBtn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #eee;
}

.textArea .enterBtn .enter {
  display: block;
  margin-left: 40px;
  text-transform: uppercase;
  line-height: 26px;
  transition: transform 0.3s ease-in-out;
}

.textArea .enterBtn .slidingBar {
  display: block;
  width: 150px;
  height: 2px;
  background-color: gold;
  position: absolute;
  left: -120px;
  top: 11px;
  transition: left 0.5s ease-in-out;
}

.textArea .enterBtn .arrow {
  display: block;
  width: 50px;
  height: 2px;
  background-color: gold;
  position: absolute;
  left: -50px;
  top: 11px;
  transition: left 0.5s ease-out 0.3s;
}

.scroll {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'hind700';
  margin-top: 60px;
}

.enterBtn a:hover .enter,
.enterBtn a:focus .enter {
  transform: translatex(30px);
}

.enterBtn a:hover .slidingBar,
.enterBtn a:focus .slidingBar {
  left: 160px;
}

.enterBtn a:hover .arrow,
.enterBtn a:focus .arrow {
  left: 0;
}

/*pc버전 해상도*/
@media all and (min-width: 1025px) and (max-width: 1920px) {
}

/*태블릿pc:아이패드, 갤럿시탭*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  #infoBox {
    width: 250px;
    height: 71px;
    margin-top: 0;
  }

  #infoBox li {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 35px;
  }

  #infoBox li .text {
    display: none;
  }

  #infoBox li .icon {
    width: 100%;
    height: 100%;
    padding: 13px 0 0 0;
  }
}

/*스마트폰 가로버전*/
@media all and (min-width: 481px) and (max-width: 767px) {
  #infoBox {
    width: 250px;
    height: 71px;
    margin-top: 100px;
  }

  #infoBox li {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 35px;
  }

  #infoBox li .text {
    display: none;
  }

  #infoBox li .icon {
    width: 100%;
    height: 100%;
    padding: 13px 0 0 0;
  }
}
