#header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 10;

  h1#logo {
    margin-left: 20px;
    width: 13rem;
    height: 100%;
    background: url(/img/logob.png) no-repeat center/contain;
    background-size: 13rem;
    cursor: pointer;
  }

  #info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 100%;
    background-color: var(--brand);
    cursor: pointer;

    img {
      transition: transform 0.3s;
    }

    &:hover {
      img {
        transform: rotate(90deg);
      }
    }
  }
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  #header-wrapper {
    height: 60px;
    h1#logo {
      width: 18rem;
      background: url(/img/logo.png) no-repeat center/contain;
    }
    #navigator {
      display: none;
    }
    #info-button {
      display: none;
    }
  }
}

// #headerIn {
//   width: 100%;
//   height: 80px;
//   background-color: #fff;
// }

// h1 {
//   width: 130px;
//   z-index: 2;
//   position: absolute;
//   left: 20px;
//   top: 0;
// }
// h1 a {
//   display: block;
//   width: 100%;
//   height: 39px;
//   margin-top: 20px;
// }
// h1 a img {
//   width: 100%;
// }
// /*######### nav ##########*/
// #nav {
//   width: 100%;
//   height: 80px;
//   margin: 0 auto;
//   position: relative;
// }

// #nav #gnb {
//   width: 700px;
//   height: 80px;
//   line-height: 80px;
//   text-align: center;
//   text-transform: uppercase;
//   margin: 0 auto;
//   font-size: 13px;
// }
// #nav #gnb #gnbUl {
//   width: 100%;
//   height: 79px;
//   position: relative;
// }

// #nav #gnb li {
//   width: 140px;
//   float: left;
// }
// #nav #gnb li a {
//   color: #555;
//   display: block;
//   width: 140px;
//   height: 79px;
// }
// #nav #gnb li a:hover,
// #nav #gnb li a:focus {
//   color: #ffbf00;
//   text-decoration: none;
// }

// #nav #gnb #follow {
//   width: 140px;
//   height: 1px;
//   background-color: #ffbf00;
//   position: absolute;
//   left: 0;
//   top: 79px;
//   transition: left 0.3s ease;
// }

// #sideWrap {
//   position: absolute;
//   right: 0;
//   top: 0;
// }
// #sideMenu {
//   width: 220px;
//   height: 80px;
//   color: #fff;
//   float: right;
//   position: relative;
//   transition: all 0.2s linear;
//   overflow: hidden;
// }
// #sideMenu #login {
//   width: 130px;
//   height: 80px;
//   float: left;
//   background-color: #fff;
// }
// #sideMenu #sideTitle {
//   width: 175px;
//   height: 80px;
//   float: left;
//   background-color: #ffbf00;
//   transition: all 0.2s linear;
// }
// #sideMenu #sideTitle a {
//   display: block;
//   width: 100%;
//   height: 100%;
// }

// #sideMenu #plusIcon {
//   display: block;
//   width: 33px;
//   height: 51px;
//   border-left: 1px solid #ffdc73;
//   position: absolute;
//   right: 0;
//   top: 0;
//   background-color: #ffbf00;
//   padding-left: 11px;
//   padding-top: 29px;
//   cursor: pointer;
// }

// #sideMenu #plusIcon:hover img,
// #sideMenu #plusIcon:focus img {
//   transform: rotate(90deg);
// }
// #sideMenu #plusIcon img {
//   transition: transform 0.2s linear;
// }
// /*########################## 로그인 버튼 #################################*/
// #sideMenu #login #loginBtn {
//   display: block;
//   width: 78px;
//   height: 27px;
//   border: 1px solid #ccc;
//   border-radius: 15px;
//   margin: 24px auto 0;
//   transition: all 0.3s linear;
//   position: relative;
//   overflow: hidden;
// }
// #sideMenu #login #loginBtn:hover,
// #sideMenu #login #loginBtn:focus {
//   width: 100px;
// }
// #sideMenu #login #loginBtn:hover .arrow,
// #sideMenu #login #loginBtn:focus .arrow {
//   left: 75px;
//   opacity: 1;
// }
// #sideMenu #login #loginBtn span {
//   display: block;
//   float: left;
// }

// #sideMenu #login #loginBtn #icon {
//   width: 20px;
//   height: 23px;
//   padding-left: 5px;
//   padding-top: 4px;
// }
// #sideMenu #login #loginBtn #loginText {
//   width: 53px;
//   height: 28px;
//   line-height: 28px;
//   font-size: 12px;
//   font-family: 'hind700';
//   color: #ffbf00;
//   text-transform: uppercase;
// }
// #sideMenu #login #loginBtn .arrow {
//   width: 13px;
//   height: 5px;
//   position: absolute;
//   left: 60px;
//   top: -3px;
//   opacity: 0;
//   transition: all 0.1s linear;
// }

// #sideMenu #sideTitle #finance {
//   width: 100%;
//   height: 40px;
//   border-bottom: 1px solid #ffdc73;
// }

// #sideMenu #sideTitle #finance p {
//   width: 20px;
//   height: 26px;
//   padding-left: 10px;
//   padding-top: 8px;
//   float: left;
// }
// #sideMenu #sideTitle #finance span {
//   display: block;
//   width: 135px;
//   height: 40px;
//   float: left;
//   line-height: 40px;
//   font-size: 14px;
//   font-family: 'Aldrich';
// }

// #sideMenu #sideTitle #cost p {
//   width: 20px;
//   height: 26px;
//   padding-left: 10px;
//   padding-top: 10px;
//   float: left;
// }
// #sideMenu #sideTitle #cost span {
//   display: block;
//   width: 135px;
//   height: 40px;
//   float: left;
//   line-height: 38px;
//   font-size: 15px;
//   text-indent: 70px;
//   font-family: 'Aldrich';
// }

// #slideMenu {
//   width: 100%;
//   height: 260px;
//   background-color: #fff;
//   border-bottom: 1px solid #ffbf00;
//   position: absolute;
//   left: 0;
//   top: 80px;
//   z-index: 11;
// }
// #slideMenu #slideUl {
//   width: 700px;
//   padding-top: 40px;
//   margin: 0 auto;
// }
// #slideMenu li {
//   width: 140px;
//   height: 160px;
//   float: left;
// }
// #slideMenu li .slideSpace {
//   width: 139px;
//   height: 40px;
// }
// #slideMenu li .slideSpace a {
//   width: 100%;
//   display: block;
//   font-size: 12px;
//   text-align: center;
//   line-height: 40px;
// }
// #slideMenu li .slideSpace a:link,
// #slideMenu li .slideSpace a:visited {
//   text-decoration: none;
//   color: #555;
// }

// #slideMenu li .verticalBar {
//   width: 1px;
//   height: 135px;
//   margin-top: 12px;
//   float: right;
//   background-color: #eee;
// }

// #mobGnb {
//   width: 100%;
//   height: 60px;
//   display: none;
//   background-color: #fff;
// }
// #mlogo {
//   float: left;
//   width: 180px;
//   padding-top: 13px;
//   padding-left: 10px;
// }
// #mlogo a {
//   display: block;
//   width: 100%;
//   height: 100%;
// }
// #mlogo a img {
//   width: 100%;
// }
// #mmenu {
//   float: right;
//   width: 60px;
//   height: 60px;
//   background-color: #333;
// }
// #mmenuBtn {
//   display: block;
//   width: 45px;
//   height: 45px;
//   text-align: center;
//   padding-top: 7px;
//   padding-left: 13px;
//   position: relative;
//   z-index: 10;
//   cursor: pointer;
// }
// #mmenuBtn span {
//   display: block;
//   width: 34px;
//   height: 1px;
//   background-color: #fff;
//   position: absolute;
//   left: 23%;
//   top: 53%;
//   transition: 0.2s ease-in-out;
// }
// #mmenuBtn p {
//   width: 34px;
//   height: 1px;
//   background-color: #fff;
//   margin-top: 10px;
// }
// #mmenuBtn .bar03 {
//   margin-top: 21px;
// }

// #mobGnbWrap {
//   width: 100%;
//   max-width: 480px;
//   height: 981px;
//   position: fixed;
//   right: 0;
//   top: 0;
//   z-index: 9;
//   background-color: #fff;
// }
// #mobLogin {
//   position: absolute;
//   left: 40px;
//   top: 70px;
// }
// #mobLogin a {
//   font-size: 14px;
// }
// #mobileGnb {
//   width: 100%;
//   height: 400px;
//   background-color: #fff;
//   padding-top: 200px;
// }

// #mobileGnb li {
//   width: 100%;
//   text-align: left;
//   text-indent: 10%;
//   line-height: 70px;
// }
// #mobileGnb li div {
//   font-size: 26px;
//   background-color: #fff;
//   color: #555;
//   font-family: 'Aldrich';
//   cursor: pointer;
// }
// #mobileGnb li div p {
//   width: 70%;
//   float: left;
// }
// #mobileGnb li div p:hover {
//   color: #ffbf00;
// }
// #mobileGnb li span {
//   width: 30%;
//   height: 60px;
//   display: block;
//   float: left;
//   padding-top: 7px;
//   text-align: left;
//   cursor: pointer;
// }
// #mobileGnb li span img {
//   transition: transform 0.5s;
// }
// #mobileGnb li span img:hover {
//   transform: rotateZ(90deg);
// }
// #mobileGnb li div:after {
//   content: '';
//   display: block;
//   clear: both;
// }

// .underMenu {
// }
// .underMenu li {
//   width: 100%;
//   height: 50px;
//   background-color: #333;
// }
// .underMenu li a {
//   display: block;
//   width: 100%;
//   font-size: 14px;
//   color: #ccc;
//   height: 100%;
//   text-indent: 11%;
//   line-height: 50px;
// }
// .underMenu li a:hover {
//   color: #ffbf00;
// }

// #subInfo {
//   width: 80%;
//   margin: 0 10%;
//   height: 200px;
//   border-top: 1px solid #ccc;
//   position: absolute;
//   left: 0;
//   bottom: 0;
// }
// #subInfo p {
//   margin-top: 10px;
//   font-family: 'hind100';
// }

// #full {
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   background-color: #000;
//   z-index: 9;
// }
// #full2 {
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   background-color: #000;
//   z-index: 9;
// }

// /*######################## finance ############################*/
// #financeInfo {
//   width: 640px;
//   height: 851px;
//   background-color: #fff;
//   color: #333;
//   position: absolute;
//   right: -640px;
//   top: 80px;
//   z-index: 10;
//   border-top: 2px solid #ffbf00;
//   border-bottom: 40px solid #111;
//   transition: all 0.7s;
// }
// #financeInfo .line {
//   width: 100%;
//   height: 2px;
//   background-color: #ffbf00;
//   margin-top: 70px;
// }
// #financeIn {
//   width: 80%;
//   padding: 0 10%;
// }

// #headline {
//   width: 100%;
//   text-transform: uppercase;
//   margin-top: 40px;
// }
// #headline h3 {
//   font-size: 20px;
//   font-family: 'hind100';
// }

// #expense {
//   width: 100%;
//   font-family: 'hind100';
//   margin-top: 40px;
// }
// #expense h4 {
//   font-size: 16px;
//   text-transform: uppercase;
// }
// #expense p {
//   font-size: 14px;
//   line-height: 20px;
// }

// #finaceCost {
//   width: 100%;
// }

// #financeCost li {
//   width: 100%;
//   border-bottom: 1px solid #ccc;
//   padding: 10px 0;
// }
// #financeCost li:last-child {
//   border: none;
// }
// #financeCost li p {
//   font-size: 14px;
//   width: 100%;
// }
// #financeCost li p:after {
//   content: '';
//   display: block;
//   clear: both;
// }
// #financeCost li .total {
//   font-family: 'hind700';
//   margin: 10px 0;
// }
// #financeCost li p span {
//   display: block;
//   float: left;
// }
// #financeCost li p .right {
//   float: right;
// }

// #diagram {
//   width: 100%;
//   overflow: hidden;
// }
// #diagram > div {
//   width: 50%;
//   float: left;
// }
// .subject {
//   width: 100%;
//   font-size: 14px;
//   font-family: 'hind700';
//   text-transform: uppercase;
//   text-align: center;
//   margin: 30px 0 20px;
// }
// #diagram .img {
//   max-width: 60%;
//   margin: 0 auto;
// }
// #diagram .img img {
//   width: 100%;
// }

// #diagram ul {
//   margin-top: 20px;
// }
// #diagram li {
//   width: 79%;
//   margin: 10px auto 0;
// }
// #diagram li:after {
//   content: '';
//   display: block;
//   clear: both;
// }
// #diagram li p {
//   width: 12px;
//   height: 12px;
//   background-color: #333;
//   border-radius: 6px;
//   float: left;
// }

// #diagram li:first-child p {
//   background-color: #babbbb;
// }
// #diagram li:nth-child(2) p {
//   background-color: #fdd200;
// }
// #diagram li:nth-child(3) p {
//   background-color: #eaebeb;
// }
// #diagram li:nth-child(4) p {
//   background-color: #6e6d6d;
// }
// #diagram li:nth-child(5) p {
//   background-color: #231916;
// }

// #diagram li span {
//   display: block;
//   font-size: 14px;
//   line-height: 12px;
//   margin-left: 5px;
//   float: left;
// }

// @media all and (min-width: 1025px) and (max-width: 1370px) {
//   #sideMenu {
//     width: 175px;
//   }
//   #sideMenu #sideTitle {
//     position: absolute;
//     left: 200px;
//     top: 0;
//   }
// }
// @media all and (min-width: 320px) and (max-width: 1024px) {
//   #header {
//     display: none;
//   }
//   #siteLocation {
//     display: none;
//   }
//   #headerIn {
//     display: none;
//   }
//   #mobGnb {
//     display: block;
//     position: fixed;
//     z-index: 10;
//   }
// }

// @media all and (min-width: 320px) and (max-width: 767px) {
//   #header {
//     height: 60px;
//   }
//   #headerIn {
//     display: none;
//   }
//   #mobGnb {
//     display: block;
//   }
// }

// /*#################### event #######################*/

// .rotation {
//   transform: rotatez(45deg);
// }
// .rotationN {
//   transform: rotatez(-45deg);
// }
