#header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 100;

  h1#logo {
    margin-left: 20px;
    width: 13rem;
    height: 100%;
    background: url(/img/logob.png) no-repeat center/contain;
    background-size: 13rem;
    cursor: pointer;
  }
}

@media all and (min-width: 0) and (max-width: 1024px) {
  #header-wrapper {
    height: 60px;
    h1#logo {
      width: 18rem;
      background: url(/img/logo.png) no-repeat center/contain;
    }
  }
}
