@mixin media_grid($repeat, $min, $max) {
  grid-template-columns: repeat($repeat, minmax($min, $max)) !important;
}

.sub-card-nav-wrapper {
  width: 100%;
  display: grid;

  &#who-we-are-card-navigator {
    grid-template-columns: repeat(4, minmax(24rem, 0.25fr));
  }

  &#explorer-card-navigator,
  &#exhibition-card-navigator {
    grid-template-columns: repeat(3, minmax(24rem, 0.4fr));
  }

  .sub-nav-card-item {
    height: 60rem;
    color: #fff;
    cursor: pointer;
    .card-item {
      height: 100%;
      text-align: center;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &.mainCateAbout {
        background-image: url("/img/images/mainCateAbout.jpg");
      }

      &.mainCateHistory {
        background-image: url("/img/images/mainCateHistory.jpg");
      }

      &.mainCateLeadership {
        background-image: url("/img/images/mainCateLeadership.jpg");
      }

      &.mainCateNewroom {
        background-image: url("/img/images/mainCateNewroom.jpg");
      }

      &.mainCateFindAnExplorer {
        background-image: url("/img/images/mainCateFindAnExplorer.jpg");
      }

      &.mainCateFieldMap {
        background-image: url("/img/images/mainCateFieldMap.jpg");
      }

      &.mainCateExplorerBlog {
        background-image: url("/img/images/mainCateExplorerBlog.jpg");
      }

      &.mainCatePlan {
        background-image: url("/img/images/mainCatePlan.jpg");
      }

      &.mainCateExhibition {
        background-image: url("/img/images/mainCateExhibition.jpg");
      }

      &.mainCateEvent {
        background-image: url("/img/images/mainCateEvent.jpg");
      }

      &:hover {
        .hover-color {
          background-color: rgba(0, 0, 0, 0.5);

          .top-move {
            transform: translatey(0);
          }

          .vertical-bar {
            transform: scaley(1);
          }

          .desc {
            opacity: 1;
            transform: translatey(0);
          }
        }
      }

      .hover-color {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden;
        transition: all 0.3s ease-out;
        .top-move {
          transform: translatey(60px);
          transition: transform 0.4s ease-in-out;
          .number-icon {
            width: 6.9rem;
            height: 6.9rem;
            position: relative;
            margin: 15rem auto 0;
            .number {
              font-size: 1.6rem;
              position: absolute;
              left: 3.1rem;
              top: 2.3rem;
            }
          }

          h3 {
            font-size: 3.6rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-family: "Aldrich";
            margin-top: 1.5rem;
          }
        }

        .vertical-bar {
          width: 0.1rem;
          height: 10rem;
          margin: 2rem auto;
          background-color: #ffbf00;
          transform-origin: bottom;
          transform: scaleY(0);
          transition: transform 0.3s ease-in-out;
        }

        p.desc {
          width: 80%;
          margin: 0 auto;
          font-size: 1.4rem;
          font-family: "hind100";
          transform: translatey(2rem);
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

@media all and (min-width: 501px) and (max-width: 1024px) {
  #who-we-are-card-navigator {
    @include media_grid(2, 23.2rem, 0.5fr);
  }

  #explorer-card-navigator,
  #exhibition-card-navigator {
    @include media_grid(1, 23.2rem, 1fr);
  }
}

@media all and (min-width: 501px) and (max-width: 767px) {
  .sub-nav-card-item {
    height: 40rem !important;
    .card-item {
      .top-move {
        .number-icon {
          margin: 40px auto 0 !important;
        }

        h3 {
          font-size: 28px !important;
        }
      }
    }
  }
}

@media all and (min-width: 0) and (max-width: 500px) {
  .sub-card-nav-wrapper {
    @include media_grid(1, 34rem, 1fr);
  }

  .sub-nav-card-item {
    height: 60rem !important;
  }
}
