@charset "utf-8";
/* CSS Document */

/*###################### footer ##########################*/
#footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 5%;
  font-size: 12px;
  border-top: 1px solid #ffbf00;
  background-color: #fff;
  position: relative;
  z-index: 8;

  #footer-copyright {
    padding: 1.8rem;
  }

  #footer-logo {
    width: 18rem;
    height: 3.2rem;
    margin-top: 1.2rem;
    background: url(/img/logo.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
}

#footer #footerLogo img {
  width: 100%;
}

@media all and (min-width: 320px) and (max-width: 1025px) {
  #footer-wrapper {
    text-align: center;
    #footer-copyright {
      width: 90%;
      padding: 18px;
    }

    #footer-logo {
      width: 180px;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  #footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  #footer-logo {
    width: 180px;
    margin: 0;
  }
}
