<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{htmlWebpackPlugin.options.title}}</title>
  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> --}}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"
    content="{{htmlWebpackPlugin.options.description}}" />
</head>

<body>
  <div id="app">
</body>

</html>