<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"
    content="{{htmlWebpackPlugin.options.description}}" />
</head>

<body>
  <div id="wrap">
    {{!-- <div id="header">
      <div id="headerIn">
        <h1>
          <a href="index.html" title="logo">
            <img src="img/logob.png" alt="logo" />
          </a>
        </h1>
        <div id="nav">
          <div id="gnb">
            <ul id="gnbUl">
              <li class="locate01">
                <a href="php/whoweare/whoweare.html" title="about">who we are</a>
              </li>
              <li class="locate02">
                <a href="php/explorer/explorer.html" title="explore">explorer</a>
              </li>
              <li class="locate03">
                <a href="php/exhibition/exhibition.html" title="event">exhibition</a>
              </li>
              <li class="locate04">
                <a href="php/project/project.html" title="grants">project</a>
              </li>
              <li class="locate05"><a href="php/impact/impact.html" title="donate">impact</a></li>
              <li id="follow"></li>
            </ul>
            <div id="slideMenu">
              <ul id="slideUl">
                <li class="locate01">
                  <p class="verticalBar"></p>
                  <div class="slideSpace">
                    <a href="php/whoweare/aboutus.html" title="about us"> ABOUT US </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/whoweare/history.html" title="history"> HISTORY </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/whoweare/ourleadership.html" title="leadership"> LEADERSHIP </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/whoweare/Newsroom.html" title="news room"> NEWS ROOM </a>
                  </div>
                </li>
                <li class="locate02">
                  <p class="verticalBar"></p>
                  <div class="slideSpace">
                    <a href="php/explorer/findanExplorer.html" title="explores"> EXPLORES </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/explorer/fieldmap.html" title="fieldMap"> FIELD MAP </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/explorer/exBlog.html" title="explorerBlog"> EXPLORER BLOG </a>
                  </div>
                </li>
                <li class="locate03">
                  <p class="verticalBar"></p>
                  <div class="slideSpace">
                    <a href="php/exhibition/plan.html" title=""> VISITOR PLAN </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/exhibition/exEvent.html" title="event"> EVENT </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/exhibition/exEvent.html" title="exhibition"> EXHIBITION </a>
                  </div>
                </li>
                <li class="locate04">
                  <p class="verticalBar"></p>
                  <div class="slideSpace">
                    <a href="php/project/yellow.html" title="yellow"> Beyond stone </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/project/bigCat.html" title="bigcat"> Big cat </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/project/last.html" title="last"> last wild </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/project/bird.html" title="bird"> year of bird </a>
                  </div>
                  <div class="slideSpace">
                    <a href="php/project/pristine.html" title="pristine"> pristine seas </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div id="sideWrap">
            <div id="sideMenu">
              <div id="sideTitle">
                <div id="finance">
                  <p><img src="img/graph.png" alt="icon" /></p>
                  <span>financial summery</span>
                </div>
                <div id="cost">
                  <p><img src="img/radialgraph.png" alt="icon" /></p>
                  <span>73,696</span>
                </div>
              </div>
              <p id="plusIcon" title="plusIcon" onclick="financeBtn();">
                <a href="#none" title="plusBtn">
                  <img src="img/ico_plus.png" alt="plusIcon" />
                </a>
              </p>
            </div>
          </div>
        </div>

        <div id="financeInfo">
          <div id="financeIn">
            <div id="headline">
              <h3>2017 financial summary</h3>
              <p class="text01">(in thoudsands)</p>
            </div>
            <div id="expense">
              <h4>expense</h4>
              <p>
                Scientific research and exploration, grants, and outreach<br />
                other educational activities
              </p>
            </div>
            <ul id="financeCost">
              <li>
                <p class="total">
                  <span class="left">Program Expense</span>
                  <span class="right">$107,770</span>
                </p>
                <p>
                  <span class="left">Scientific research</span>
                  <span class="right">70,709</span>
                </p>
                <p>
                  <span class="left">other educational activites</span>
                  <span class="right">37,061</span>
                </p>
              </li>
              <li>
                <p class="total">
                  <span class="left">Operating Loss</span>
                  <span class="right">$107,770</span>
                </p>
                <p>
                  <span class="left">Management and general Fundraising</span>
                  <span class="right">29,782</span>
                </p>
                <p>
                  <span class="left">Fundraising</span>
                  <span class="right">15,630</span>
                </p>
              </li>
            </ul>
            <div id="diagram">
              <div>
                <p class="subject">2016 cash sources</p>
                <p class="img">
                  <img src="img/diagram01.jpg" alt="diagram01" />
                </p>
                <ul>
                  <li>
                    <p></p>
                    <span>Joint Venture Partnership</span>
                  </li>
                  <li>
                    <p></p>
                    <span>Rent</span>
                  </li>
                  <li>
                    <p></p>
                    <span>Program Revenue</span>
                  </li>
                  <li>
                    <p></p>
                    <span>Endowment/Investment Draw</span>
                  </li>
                  <li>
                    <p></p>
                    <span>Contributions</span>
                  </li>
                </ul>
              </div>
              <div>
                <p class="subject">2016 operationg</p>
                <p class="img">
                  <img src="img/diagram01.jpg" alt="diagram01" />
                </p>
                <ul>
                  <li>
                    <p></p>
                    <span>Program Expense</span>
                  </li>
                  <li>
                    <p></p>
                    <span>Management and General</span>
                  </li>
                  <li>
                    <p></p>
                    <span>Fundraising</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p class="line"></p>
        </div>
      </div>
    </div> --}}


    {{!-- <div id="mobGnb">
      <div id="mlogo">
        <a href="index.html" title="mlogo">
          <img src="img/logo.png" alt="mlogo" />
        </a>
      </div>
      <div id="mmenu">
        <div id="mmenuBtn">
          <p class="bar01"></p>
          <span id="bar021"></span>
          <span id="bar022"></span>
          <p class="bar03"></p>
        </div>
        <div id="mobGnbWrap">
          <ul id="mobileGnb">
            <li>
              <div>
                <p><a href="php/whoweare/whoweare.html" title="whoweare">WHO WE ARE</a></p>
                <span><img src="img/all.jpg" alt="all" /></span>
              </div>
              <ol class="underMenu">
                <li>
                  <a href="php/whoweare/aboutus.html" title="aboutUs"> ABOUT US </a>
                </li>
                <li>
                  <a href="php/whoweare/history.html" title="history"> HISTORY </a>
                </li>
                <li>
                  <a href="php/whoweare/ourleadership.html" title="leadership">
                    OUR LEADERSHIP
                  </a>
                </li>
                <li>
                  <a href="php/whoweare/Newsroom.html" title="news room"> NEWS ROOM </a>
                </li>
              </ol>
            </li>
            <li>
              <div>
                <p><a href="php/explorer/explorer.html" title="whoweare">EXPLORER</a></p>
                <span><img src="img/all.jpg" alt="all" /></span>
              </div>
              <ol class="underMenu">
                <li>
                  <a href="php/explorer/findanExplorer.html" title="findexplorers">
                    FIND AN EXPLOER
                  </a>
                </li>
                <li>
                  <a href="php/explorer/fieldmap.html" title="fieldmap"> FIELDMAP </a>
                </li>
                <li>
                  <a href="php/explorer/exBlog.html" title="blog"> BLOG </a>
                </li>
              </ol>
            </li>
            <li>
              <div>
                <p><a href="php/exhibition/exhibition.html" title="whoweare">EXHIBITION</a></p>
                <span><img src="img/all.jpg" alt="all" /></span>
              </div>
              <ol class="underMenu">
                <li>
                  <a href="php/exhibition/plan.html" title="plan"> PLAN YOUR VISIT </a>
                </li>
                <li>
                  <a href="php/exhibition/exEvent.html" title="exhibition"> EXHIBITION </a>
                </li>
                <li>
                  <a href="php/exhibition/exEvent.html" title="event"> EVENT </a>
                </li>
              </ol>
            </li>
            <li>
              <div>
                <p><a href="php/project/project.html" title="">PROJECT</a></p>
                <span><img src="img/all.jpg" alt="all" /> </span>
              </div>
              <ol class="underMenu">
                <li>
                  <a href="php/project/yellow.html" title="yellow"> BEYOND STONE </a>
                </li>
                <li>
                  <a href="php/project/bigCat.html" title="bigcat"> BIG CAT </a>
                </li>
                <li>
                  <a href="php/project/last.html" title="last"> LAST WILD </a>
                </li>
                <li>
                  <a href="php/project/bird.html" title="bird"> YEAR OF BIRD </a>
                </li>
                <li>
                  <a href="php/project/pristine.html" title="pristine"> PRESTINE SEAS </a>
                </li>
              </ol>
            </li>
            <li>
              <div>
                <p><a href="php/impact/impact.html" title="">IMPACT</a></p>
                <span><img src="img/all.jpg" alt="all" /> </span>
              </div>
            </li>
          </ul>
          <div id="subInfo">
            <p>National Geographic Headquarters</p>
            <p>1145 17th Street NW</p>
            <p>Washington, D.C. 20036</p>
          </div>
        </div>
      </div>
    </div> --}}
    {{!-- <div id="content">
      <div id="slideScroll">
        <ul id="alist">
          <li>
            <a href="#none" title="scl01">
              <img class="con1" src="img/scrollbtn01.png" alt="scl01" />
            </a>
          </li>
          <li>
            <a href="#none" title="scl02">
              <img class="con2" src="img/scrollbtn02.png" alt="scl02" />
            </a>
          </li>
          <li>
            <a href="#none" title="scl03">
              <img class="con3" src="img/scrollbtn03.png" alt="scl03" />
            </a>
          </li>
          <li>
            <a href="#none" title="scl04">
              <img class="con4" src="img/scrollbtn04.png" alt="scl04" />
            </a>
          </li>
          <li>
            <a href="#none" title="scl05">
              <img class="con5" src="img/scrollbtn05.png" alt="scl05" />
            </a>
          </li>
        </ul>
      </div>
      <div id="full"></div>
      <div id="full2"></div>
      <div id="section1">
        <ul id="bgArea">
          <li class="m1"></li>
          <li class="m2"></li>
          <li class="m3"></li>
          <li class="m4"></li>
        </ul>
        <div id="circleArea">
          <div id="circlewidth">
            <div id="circle1" class="circle">
              <!--circle1-->
            </div>
            <div id="circle2" class="circle">
              <!--circle2-->
            </div>
            <div id="circle3" class="circle">
              <!--circle3-->
            </div>
          </div>
        </div>
        <div class="mainContent">
          <div class="textArea">
            <ul>
              <li class="subTitle">Science, exploration to change the world.</li>
              <li class="title">NATIONAL GEOGRAPHIC</li>
              <li class="desc">
                <p class="bar"></p>
                <p class="text">
                  National Geographic is an American digital cable and satellite television
                  network that is owned by National Geographic Partners, majority-owned by 21st
                  Century Fox with the remainder owned by the National Geographic Society.
                </p>
              </li>
              <li class="scroll">
                <p>scroll</p>
                <div id="scrollRotate">
                  <p id="downScroll"></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="section2">
        <div class="bgArea">
          <!--bgArea-->
        </div>
        <div class="mainContent">
          <ul class="circle">
            <li></li>
          </ul>
          <div class="textArea">
            <ul>
              <li class="subTitle">Working for a Planet in Balance</li>
              <li class="title">WHO WE ARE</li>
              <li class="desc">
                <p class="bar"></p>
                <p class="text">
                  The National Geographic Society is a nonprofit scientific and educational
                  organization that pushes the boundaries of exploration
                </p>
              </li>
              <li class="enterBtn">
                <a href="php/whoweare/whoweare.html">
                  <span class="enter">enter</span>
                  <span class="slidingBar"></span>
                  <span class="arrow"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="section3">
        <div class="bgArea"></div>
        <div id="earthVideo">
          <video id="mov" autoplay preload="auto" muted="muted" loop="loop">
            <source src="img/earth.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="mainContent">
          <div class="textArea">
            <ul>
              <li class="subTitle">Impact for the planet</li>
              <li class="title">EXPLORER</li>
              <li class="desc">
                <p class="bar"></p>
                <p class="text">
                  We fund and support groundbreaking scientists, conservationists, educators, and
                  storytellers.
                </p>
              </li>
              <li class="enterBtn">
                <a href="php/explorer/explorer.html">
                  <span class="enter">enter</span>
                  <span class="slidingBar"></span>
                  <span class="arrow"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="section4">
        <div class="bgArea"></div>
        <div class="mainContent">
          <ul class="circle">
            <li></li>
          </ul>
          <div class="textArea">
            <ul>
              <li class="subTitle">See explorers inpiring community</li>
              <li class="title">EXHIBITION &amp; EVENT</li>
              <li class="desc">
                <p class="bar"></p>
                <p class="text">
                  In the heart of Washington, D.C., National Geographic hosts world-class
                  exhibitions, exclusive events, and an inspiring community of explorers.
                </p>
              </li>
              <li class="enterBtn">
                <a href="php/exhibition/exhibition.html">
                  <span class="enter">enter</span>
                  <span class="slidingBar"></span>
                  <span class="arrow"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="section5">
        <div class="bgArea"></div>
        <div class="mainContent">
          <ul class="circle">
            <li></li>
          </ul>
          <div class="textArea">
            <ul>
              <li class="subTitle">Current portfolio</li>
              <li class="title">PROJECT</li>
              <li class="desc">
                <p class="bar"></p>
                <p class="text">
                  Explore our current portfolio of initiatives, and get the latest updates from
                  them below.
                </p>
              </li>
              <li class="enterBtn">
                <a href="php/project/project.html">
                  <span class="enter">enter</span>
                  <span class="slidingBar"></span>
                  <span class="arrow"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p id="copy">
        National Geographic Society is a 501 (c)(3) organization. ©Jack.koh All rights reserved.
        See my work at https://www.Jacky.co.kr
      </p>
      <p id="footerLogo">
        <a href="index.html" title="ngg">
          <img src="img/logo.png" alt="footerLogo" />
        </a>
      </p>
    </div>
  </div> --}}
</body>

</html>