@font-face {
  font-family: 'Aldrich';
  src: url('/font/Aldrich-Regular.woff');
}
@font-face {
  font-family: 'hind100';
  src: url('/font/Hind-Light.woff');
}
@font-face {
  font-family: 'hind400';
  src: url('/font/Hind-Medium.woff');
}
@font-face {
  font-family: 'hind700';
  src: url('/font/Hind-Bold.woff');
}
